{% extends 'base.html.twig' %}

{% block title %}Hello BaseController!{% endblock %}

{% block body %}
<p></p>
<div class="row justify-content-center">
    <div class="col-md-5 text-center">
        <div class="jumbotron">
            <i class="fas fa-film fa-10x" aria-hidden="true"></i>
        </div>
    </div>

    <div class="col-md-5 text-center">
        <div class="jumbotron">
            <i class="fas fa-place-of-worship fa-10x" aria-hidden="true"></i>
        </div>
    </div>
</div>

{% endblock %}
