.margin-top-20 {
    margin-top: 20px;
}

.flash-width-300 {
    width: 300px;
}

.tab-poster {
    width: 50px;
}

.tab-button {
    width: 80px;
}

.tab-date {
    width: 100px;
}

.jumbotron {
    background-color: lightgray !important;
    border-radius: 20px;
}

.mytable {
    width: 900px;
}

.btn-spacing {
    margin-left: 10px;
    margin-right: 10px;
}