{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <div class="container margin-top-20">
        <div class="row justify-content-center">
            <table class="table mytable table-hover col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
                <thead>
                    <tr>
                        <th scope="col">
                            Nutzername
                        </th>
                        <th scope="col" class="col-lg-auto tab-button text-center">
                            Aktion
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td class="align-middle">
                            {{ user.username }}
                        </td>
                        <td class="align-middle">
                            <button class="btn btn-sm btn-secondary btn-margin tab-button">
                                Bearbeiten
                            </button>
                            <a href="{{ path('delete_user', {'userid': user.id}) }}">
                                <button class="btn btn-sm btn-outline-secondary btn-margin tab-button">
                                    Löschen
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
